__pycache__
log.txt
settings.json
# *out/
# *output/

# Desconsider data obtainable from zip files
data/community_subsets/*.csv
data/community_subsets/*.tsv
data/taxon_abundances/*.csv
data/fastspar_networks/*/

# Desconsider all the directories of a given directory
out/