__pycache__
log.txt
settings.json
# *out/
# *output/

# Desconsider data obtainable from zip files
data/community_subsets/*.csv
data/taxon_abundances/*.csv

# Desconsider all the directories of a given directory
